################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FlatManagement/.vs/FlatManagement
/FlatManagement/FlatManagement/bin
/FlatManagement/FlatManagement/obj
