@model FlatManagement.Models.ContractVM

@{
    ViewData["Title"] = "Create";
}


<h4>Create Contract</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />



            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ContractName" class="control-label"></label><span>*</span>
                    <input asp-for="ContractName" class="form-control" />
                    <span asp-validation-for="ContractName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ContactPerson" class="control-label"></label><span>*</span>
                    <input asp-for="ContactPerson" class="form-control" />
                    <span asp-validation-for="ContactPerson" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate"  placeholder="select date"  type="text" class="form-control" id="datepickerStartDate" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate"  placeholder="select date"  type="text" class="form-control" id="datepickerEndDate" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="BillType" class="control-label"></label><span>*</span>
                    @Html.DropDownListFor(m => m.BillType, new SelectList(ViewBag.billType, "Value", "Text"), "Select Bill Type", new { @class = "form-control" })
                    <span asp-validation-for="BillType" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="BillFrequency" class="control-label"></label><span>*</span>
                    @Html.DropDownListFor(m => m.BillFrequency, new SelectList(ViewBag.billFrequency, "Value", "Text"), "Select Bill Frequency", new { @class = "form-control" })
                    <span asp-validation-for="BillFrequency" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Description" class="control-label"></label><span>*</span>
                @Html.TextAreaFor(model => model.Description, new { @placeholder = "Description", @class = "cDescription form-control"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Back to List</a>
                </div>
            </div>




        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepickerStartDate").datepicker();
        });


        $(function () {
            $("#datepickerEndDate").datepicker();
        });
    </script>



    <script>
        $("#datepickerEndDate").change(function () {
            var startDate = document.getElementById("datepickerStartDate").value;
            var endDate = document.getElementById("datepickerEndDate").value;

            if ((Date.parse(startDate) >= Date.parse(endDate))) {
                alert("End date should be greater than Start date");
                document.getElementById("datepickerEndDate").value = "";
            }
        });
    </script>
}
