@model FlatManagement.Models.FlatVM

@{
    ViewData["Title"] = "Create";
}


<h4>Create Flat</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />


           
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="FlatNo" class="control-label"></label>
                    <input asp-for="FlatNo" class="form-control" />
                    <span asp-validation-for="FlatNo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Remarks" class="control-label"></label>
                    <input asp-for="Remarks" class="form-control" />
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>
             </div>
                

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                    </div>
                    <div class="form-group col-md-6">
                        <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Back to List</a>
                    </div>
                </div>




        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
